* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background: #282828;
    overflow: hidden;
}
input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    transform: translateX(90px);
}
label{
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: transparent;
    margin: 80vh 0px 0 0px;
    z-index: 2;
    cursor: pointer;
    transition-duration: 0.5s;
    transform: translateX(90%);
}
label:last-child{
    margin-right: 50px;
}
p{
    display: none;
    opacity: 0;
    color: white;

}

.slider-wrapper{
    max-width: 800px;
    height: 100vh;
    position: relative;
    margin: 0 auto;
    text-align: right;
}

.slide-wrapper{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    top: 0;
    transform: translateX(-200%) translateY(0);
    transition-duration: 0.5s;
    opacity: 0;
    text-align: left;

}


.slide {
  
    background-position: center;
    background-size: contain;
    background-repeat:  no-repeat;
    width: 100%;
    height: 90vh;
    z-index: -1;
    


}

.bg1 {
    background-image: url(./1649308731428.jpeg);
}

.bg2 {
    background-image: url(./1650093392075.jpeg);
}

.bg3 {
    background-image: url(./1650702076040.jpeg);
}
.bg4 {
    background-image: url(./1651904781475.jpeg);
}
.bg5 {
    background-image: url(./1652025356733.jpeg);
}
input:hover+label{
    background-color: gray;
}

input:checked+label{
    background-color: white;
}

input:focus+label{
    box-shadow: 0 0 0 2px teal, 0 0 18px white ;
}

/* input:checked~.slide{
    transform: translateX(100%);
} */
input:checked+label+.slide-wrapper {
    transform: translateX(0) scale(0.8);
    opacity: 1;
}

input:checked+label+.slide-wrapper p{
    opacity: 1;
    display: inline-block;

}